### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [7]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635

## Local Government Area Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average maths score 

* Calculate the average reading score

* Calculate the percentage of students with a passing maths score (50 or greater)

* Calculate the percentage of students with a passing reading score (50 or greater)

* Calculate the percentage of students who passed maths **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [8]:
# Total number of unique schools
unique_school_name=school_data_complete['school_name'].unique()
total_school_number=len(unique_school_name)
total_school_number

15

In [9]:
# Calculate the total number of students
total_students_number=school_data_complete["student_name"].count()
total_students_number

39170

In [10]:
# Calculate the total budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [11]:
# Calculate the average maths score
average_maths_score = school_data_complete["maths_score"].mean()
average_maths_score

70.33819249425581

In [12]:
# Calculate the average reading score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

69.98013786060761

In [13]:
# Calculate the average maths score
average_maths_score = school_data_complete["maths_score"].mean()
average_maths_score

70.33819249425581

In [14]:
# Calculate the percentage of students with a passing maths score (50 or greater)
students_passing_maths = school_data_complete.loc[school_data_complete["maths_score"] >= 50]
number_students_passing_maths = students_passing_maths["Student ID"].count()

percent_passing_maths = (number_students_passing_maths / total_students_number) * 100

percent_passing_maths

86.07863160582077

In [15]:
# Calculate the percentage of students with a passing reading score (50 or greater)
students_passing_reading = school_data_complete.loc[school_data_complete["reading_score"] >= 50]
number_students_passing_reading = students_passing_reading["Student ID"].count()

percent_passing_reading = (number_students_passing_reading / total_students_number) * 100
percent_passing_reading

84.42685728874139

In [16]:
# Calculate the percentage of students who passed maths and reading (% Overall Passing)
Overall_passing = school_data_complete[(school_data_complete['maths_score'] >= 50) & (school_data_complete['reading_score'] >= 50)]['Student ID'].count()/total_students_number*100
Overall_passing

72.80827163645647

In [17]:
# Create a dataframe to hold the above results
area_summary = pd.DataFrame({
    "Total Schools": total_school_number,
    "Total Students": f"{total_students_number:,}",
    "Total Budget": f"${total_budget:,.2f}",
    "Average Maths Score": f"{average_maths_score:.6f}",
    "Average Reading Score": f"{average_reading_score:.5f}",
    "% Passing Maths": f"{percent_passing_maths:.6f}",
    "% Passing Reading": f"{percent_passing_reading:.6f}",
    "% Overall Passing": f"{Overall_passing: .6f}"
}, index=[0])

area_summary

,Total Schools,Total Students,Total Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",70.338192,69.98014,86.078632,84.426857,72.808272

## School Summary

* Create an overview table that summarises key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed maths **and** reading.)
  
* Create a dataframe to hold the above results

In [18]:
# Group by school name
school_name = school_data_complete.set_index('school_name').groupby(['school_name'])

In [19]:
# school types by school name
school_type = school_data.set_index('school_name')['type']

In [20]:
#  Calculate total students
total_student = school_name['Student ID'].count()

In [21]:
# Total school budget
total_school_budget = school_data.set_index('school_name')['budget']

In [22]:
# per student budget
budget_per_student = (school_data.set_index('school_name')['budget']/school_data.set_index('school_name')['size'])

In [23]:
# Average Math Score
average_maths_score = school_name['maths_score'].mean()

In [24]:
# Average Reading Score
average_reading_score = school_name['reading_score'].mean()

In [25]:
# % Passing Math
pass_maths_percent = school_data_complete[school_data_complete['maths_score'] >= 50].groupby('school_name')['Student ID'].count()/total_student*100

In [26]:
# % Passing Reading
pass_read_percent = school_data_complete[school_data_complete['reading_score'] >= 50].groupby('school_name')['Student ID'].count()/total_student*100

In [27]:
# % Overall Passing (The percentage of students that passed maths and reading.)
overall_pass = school_data_complete[(school_data_complete['reading_score'] >= 50) & (school_data_complete['maths_score'] >= 50)].groupby('school_name')['Student ID'].count()/total_student*100

In [32]:
per_school_summary = pd.DataFrame({
    "School Type": school_type,
    "Total Students": total_student,
    "Per Student Budget": budget_per_student,
    "Total School Budget": total_school_budget,
    "Average Maths Score": average_maths_score,
    "Average Reading Score": average_reading_score,
    '% Passing Maths': pass_maths_percent,
    '% Passing Reading': pass_read_percent,
    "% Overall Passing": overall_pass
})

per_school_summary = per_school_summary[['School Type', 
                          'Total Students', 
                          'Total School Budget', 
                          'Per Student Budget', 
                          'Average Maths Score', 
                          'Average Reading Score',
                          '% Passing Maths',
                          '% Passing Reading',
                          '% Overall Passing']]

per_school_summary.style.format({'Total Students': '{:}',
                          "Total School Budget": "${:,.2f}",
                          "Per Student Budget": "${:.2f}",
                          'Average Maths Score': "{:6f}", 
                          'Average Reading Score': "{:6f}", 
                          "% Passing Maths": "{:6f}", 
                          "% Passing Reading": "{:6f}"})

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [111]:
# Sort and display the top five performing schools by % overall passing.
top_schools = per_school_summary.sort_values("% Overall Passing", ascending = False)
top_schools.head().style.format({'Total Students': '{:}',
                           "Total School Budget": "${:,.2f}", 
                           "Per Student Budget": "${:.2f}", 
                           "% Passing Maths": "{:6f}", 
                           "% Passing Reading": "{:6f}", 
                           "% Overall Passing": "{:6f}"})

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [106]:
# Sort and display the five worst-performing schools by % overall passing. 
bottom_schools = top_schools.tail()
bottom_schools = bottom_schools.sort_values('% Overall Passing')
bottom_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Hernandez High School,Government,4635,3022020,652.0,68.874865,69.186408,80.949299,81.877023,66.364617
Huang High School,Government,2917,1910635,655.0,68.935207,68.910525,81.693521,81.453548,66.712376
Johnson High School,Government,4761,3094650,650.0,68.843100,69.039277,82.062592,81.978576,67.191766
Wilson High School,Independent,2283,1319574,578.0,69.170828,68.876916,82.785808,81.296540,67.455103
Ford High School,Government,2739,1763916,644.0,69.091274,69.572472,82.438846,82.219788,67.469880

## Maths Scores by Year

* Create a table that lists the average maths score for students of each year level (9, 10, 11, 12) at each school.

  * Create a pandas series for each year. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [35]:
# Create year level average maths score at each school 
yr9_maths = school_data_complete.loc[school_data_complete["year"] == 9].groupby(["school_name"])["maths_score"].mean()
yr10_maths = school_data_complete.loc[school_data_complete["year"] == 10].groupby(["school_name"])["maths_score"].mean()
yr11_maths = school_data_complete.loc[school_data_complete["year"] == 11].groupby(["school_name"])["maths_score"].mean()
yr12_maths = school_data_complete.loc[school_data_complete["year"] == 12].groupby(["school_name"])["maths_score"].mean()

In [40]:
# Combine the series into a dataframe
maths_scores_by_year = pd.DataFrame({"Year 9": yr9_maths,
      "Year 10": yr10_maths,
      "Year 11": yr11_maths,
      "Year 12": yr12_maths})

# maths_scores

In [104]:
maths_scores_by_year = maths_scores_by_year[['Year 9', 'Year 10', 'Year 11', 'Year 12']]
maths_scores_by_year.index.name = None

In [105]:
# Optional: give the displayed data cleaner formatting
maths_scores_by_year.style.format({'Year 9': '{:.6f}', 
                          "Year 10": '{:.6f}', 
                          "Year 11": "{:.6f}", 
                          "Year 12": "{:.6f}"})

## Reading Score by Year

* Perform the same operations as above for reading scores

In [103]:
# Year average reading scores for each school
yr9_reading = student_data.loc[student_data['year'] == 9].groupby('school_name')["reading_score"].mean()
yr10_reading = student_data.loc[student_data['year'] == 10].groupby('school_name')["reading_score"].mean()
yr11_reading = student_data.loc[student_data['year'] == 11].groupby('school_name')["reading_score"].mean()
yr12_reading = student_data.loc[student_data['year'] == 12].groupby('school_name')["reading_score"].mean()

# Merge the reading score averages by school and year
reading_scores_by_year = pd.DataFrame({
        "Year 9": yr9_reading,
        "Year 10": yr10_reading,
        "Year11": yr11_reading,
        "Year 12": yr12_reading
})
reading_scores_by_year = reading_scores_by_year[["Year 9", "Year 10", "Year11", "Year 12"]]
reading_scores_by_year.index.name = None

# Optional: give the displayed data cleaner formatting
reading_scores_by_year.style.format({"Year 9": '{:.6f}', 
                             "Year 10": '{:.6f}', 
                             "Year11": "{:.6f}", 
                             "Year 12": "{:.6f}"})

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [48]:
import pandas as pd

In [125]:
# Use the code provided below to create four bins with reasonable cutoff values to group school spending.
spending_bins  = [0, 585, 630, 645, 680]
group_names = ["<$585", "$585-630", "$630-645", "$645-680"]

# Categorise the spending based on the bins
per_school_summary["Spending Ranges (Per Student)"] = pd.cut(budget_per_student, spending_bins, labels=group_names)

spending_maths_scores = per_school_summary.groupby(["Spending Ranges (Per Student)"]).mean()["Average Maths Score"]
spending_reading_scores = per_school_summary.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_passing_maths = per_school_summary.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Maths"]
spending_passing_reading = per_school_summary.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
overall_passing_rate = (spending_passing_maths + spending_passing_reading) / 2

# Assemble into data frame
spending_summary = pd.DataFrame({"Average Maths Score" : spending_maths_scores,
                                 "Average Reading Score": spending_reading_scores,
                                 "% Passing Maths": spending_passing_maths,
                                 "% Passing Reading": spending_passing_reading,
                                 "% Overall Passing Rate": overall_passing_rate})

spending_summary = spending_summary[["Average Maths Score", 
                                     "Average Reading Score", 
                                     "% Passing Maths", "% Passing Reading",
                                     "% Overall Passing Rate"]]

spending_summary.style.format({'Average Maths Score': '{:.2f}', 
                              'Average Reading Score': '{:.2f}', 
                              '% Passing Maths': '{:.2f}', 
                              '% Passing Reading':'{:.2f}', 
                              '% Overall Passing Rate':'{:.2f}'})

## Scores by School Size

* Perform the same operations as above, based on school size.

In [128]:
size_bins = [0, 1000, 2000,5000]
group_names = ["Small (<1000)", "Medium (1000-2000)" , "Large (2000-5000)"]

per_school_summary["School Size"] = pd.cut(per_school_summary["Total Students"], size_bins, labels=group_names)

# Calculate the scores based on bins
size_maths_scores = per_school_summary.groupby(["School Size"]).mean()["Average Maths Score"]
size_reading_scores = per_school_summary.groupby(["School Size"]).mean()["Average Reading Score"]
size_passing_maths = per_school_summary.groupby(["School Size"]).mean()["% Passing Maths"]
size_passing_reading = per_school_summary.groupby(["School Size"]).mean()["% Passing Reading"]
overall_passing_rate = (size_passing_maths + size_passing_reading) / 2

# Assemble into data frame
size_summary = pd.DataFrame({"Average Maths Score" : size_maths_scores,
                             "Average Reading Score": size_reading_scores,
                             "% Passing Maths": size_passing_maths,
                             "% Passing Reading": size_passing_reading,
                             "% Overall Passing Rate": overall_passing_rate})

size_summary = size_summary[["Average Maths Score", 
                             "Average Reading Score", 
                             "% Passing Maths", "% Passing Reading",
                             "% Overall Passing Rate"]]

size_summary

,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing Rate
School Size,,,,,
Small (<1000),72.335748,71.636864,90.806867,87.557513,89.182190
Medium (1000-2000),71.421650,70.720164,89.846560,86.714149,88.280354
Large (2000-5000),69.751809,69.576052,84.252804,83.301185,83.776994

## Scores by School Type

* Perform the same operations as above, based on school type

In [129]:
# based on school type
type_maths_scores = per_school_summary.groupby(["School Type"]).mean()["Average Maths Score"]
type_reading_scores = per_school_summary.groupby(["School Type"]).mean()["Average Reading Score"]
type_passing_maths = per_school_summary.groupby(["School Type"]).mean()["% Passing Maths"]
type_passing_reading = per_school_summary.groupby(["School Type"]).mean()["% Passing Reading"]
overall_passing_rate = (type_passing_maths + type_passing_reading) / 2

# Assemble into data frame
type_summary = pd.DataFrame({"Average Maths Score" : type_maths_scores,
                             "Average Reading Score": type_reading_scores,
                             "% Passing Maths": type_passing_maths,
                             "% Passing Reading": type_passing_reading,
                             "% Overall Passing Rate": overall_passing_rate})

# Minor data munging
type_summary = type_summary[["Average Maths Score", 
                             "Average Reading Score",
                             "% Passing Maths",
                             "% Passing Reading",
                             "% Overall Passing Rate"]]

# Display results
type_summary

,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing Rate
School Type,,,,,
Government,69.834806,69.675929,84.462375,83.587562,84.024969
Independent,71.368822,70.718933,89.204043,86.247789,87.725916